#navigation {
  background: #2F4C77;
}

mat-toolbar {
  position: absolute;
  height: 70px;
  left: 0;
  right: 0;
  background-color: white;
}

.logo {
  position: absolute;
  left: 3.26%;
  right: 89.03%;
  top: 22.86%;
  bottom: 22.86%;
}

.logoIm {
  position: absolute;
  left: 0%;
  right: 67.57%;
  top: 0%;
  bottom: 0%;

  background: #FAFAFA;
  border-radius: 5px;
}

.title {
  position: absolute;
  left: 50.45%;
  right: 0%;
  top: 21.05%;
  bottom: 23.68%;

  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */


  color: #FAFAFA;
}
